/* CSS Document */
/* PUBLIC CSS */
body{margin:0; padding:0; font:normal 12px "ËÎÌå",Arial; background:#f2f9ff url(../images/body_bg.jpg) repeat-x;}
html,div,table,th,tr,td,p,span,ul,li,ol,form,flash,iframe,font,h1,h2,h3,h4,h5,h6{ margin:0; padding:0; border:none;}
li{ list-style:none;}
img{ display:block;}
a{ cursor:pointer; text-decoration:none; font-size:12px;color:#333333; }
a:hover{ color:#e60000;}
.center{ width:1003px; margin:0 auto;overflow:hidden;}
.clear{ clear:both;}
.f_left{ float:left;}
.f_right{ float:right;}

/* circle CSS */
.top{ width:1003px; height:193px; overflow:hidden;}
.con_l{width:586px; height:311px;overflow:hidden; }
.con_r{width:417px; height:266px;font:normal 13px "Î¢ÈíÑÅºÚ"; margin-top:45px;}
.con_r h3.h{ width:55px;  float:left;font:normal 13px "Î¢ÈíÑÅºÚ"; line-height:40px; height:20px;_line-height:30px;}
.con_r h3 span{ width:26px; display:block; float:left;}
.con_r h3 span.w{ width:17px;}
.con_r li{ width:260px; height:52px; line-height:52px;_height:48px; _line-height:50px;}
.input_bg{ height:20px; border:1px solid #abbfd5; padding:2px; width:185px; margin-top:7px;*margin:0;}
.input_bg2{ height:20px; border:1px solid #abbfd5; padding:2px; width:80px;margin-left:3px;}
.btn_bg{ width:260px; height:38px;background:url(../images/btn_bg.jpg) no-repeat;margin-top:13px;_margin-top:0px;cursor:pointer; border:none;}
.code{ width:43px; height:20px; display:block; margin:14px 8px 0 8px; border:0;_margin-top:7px;}
.code_a{display:block; _margin-top:-5px;}
.error{ text-align:center; color:#F00;}
.footer p{ text-align:center; color:#696969; padding-top:20px;}
.footer span{ font-family:Arial, Helvetica, sans-serif;}

