/* CSS Document */
/* PUBLIC CSS */
body{margin:0; padding:0; font:normal 12px "ו",Arial;overflow-y:hidden;color:#333;}
html,div,table,th,tr,td,p,span,ul,li,ol,form,flash,iframe,font,h1,h2,h3,h4,h5,h6{ margin:0; padding:0; border:none;}
li{ list-style:none;}
img{ display:block;}
a{ cursor:pointer; text-decoration:none; color:#333; }
.center{ width:1003px; margin:0 auto;overflow:hidden;}
.clear{ clear:both;}
.f_left{ float:left;}
.f_right{ float:right;}
/* circle CSS */
.body_bg{background:#fff url(body_bg.jpg) repeat-x;}

.con{ width:1003px; height:500px;overflow:hidden; background:url(con_bg.jpg) no-repeat;}

.con_r{width:220px;font:normal 13px "ו"; margin-top:200px; margin-left:590px; color:#fff;}
.con_r h3.h{ width:55px;  float:left;font:normal 13px "ו"; line-height:40px; height:20px;_line-height:30px;}
.con_r h3 span{ width:26px; display:block; float:left;}
.con_r h3 span.w{ width:29px;}
.con_r li{ width:260px; height:45px; line-height:45px;_height:41px; _line-height:43px;}

.input_bg{ height:18px; border:1px solid #b4b4b4; padding:2px; width:160px; margin-top:5px;*margin:0;}
.btn_bg{ width:220px; height:32px;background:url(btn_bg.jpg) no-repeat;cursor:pointer; border:none;  margin-top:10px; margin-left:3px;}
.input_bg2{ margin-left:55px;}
.code{ width:43px; height:20px; display:block; margin:16px 8px 0 8px; border:0;_margin-top:14px;}
.code_a{display:block; _margin-top:-5px;}
.error{ text-align:center; color:#F00;}

.footer{width:400px; margin:0 auto;}
.footer span{ font-family:Arial, Helvetica, sans-serif;}



